
.cart_widget_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}

.link_decoration {
    text-decoration: none;
    color: inherit;
}
.link_decoration:hover {
    color: inherit;
}

@media (max-width: 767px) {
    .cart_widget {
        width: 35px;
        height: 35px;
    }
}

@media (min-width: 768px) {
    .cart_widget {
        width: 50px;
        height: 50px;
    }
}