
.cart_widget_container {
    display: flex;
}

.cart_widget {
    margin-top: 40px;
    margin-right: 5px;
    width: 50px;
    max-height: 50px;
}

.cart_amount {
    margin-top: 60px;
    margin-right: 15px;
}

.link_decoration {
    text-decoration: none;
    color: inherit;
}