
.logo:hover {
    border: none;
}
.logo:focus {
  outline: none;
}

@media (max-width: 575px) {
    .logo {
        width: 25px;
    }
}

@media (max-width: 767px) {
    .logo {
        width: 40px;
    }
}

@media (min-width: 768px) {
    .logo {
        width: 200px;
    }
}