
.cart {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 10px;
    width: 50%;
    max-width: 500px;
    border: 1px solid #ccc;
}

.item_center {
    text-align: center;
}