
.item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 300px;
    max-width: 300px;
    border: 1px solid #ccc;
}

.item_center {
    text-align: center;
}

.item_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width: 100px;
    max-width: 100px;
    max-height: 150px;
}

.item_price {
    margin-bottom: 40px;
}

.item_btn {
    position: absolute;
    left: 40%;
    bottom: 0;
}