
.navbar {
  display: flex;
  background-color: var(--hd-color);
  height: fit-content;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--hd-border-color);
  border-radius: 5px;
  position: relative;
}
  
.links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.link {
  text-transform: capitalize;
}

.link_decoration {
  text-decoration: none;
  color: inherit;
}
  
  