
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 1rem;
    width: 50%;
    border: 2px solid;
    border-color: var(--border-color);
}

input {
    margin-top: 0.5rem;
    border: 1px solid;
    border-color: var(--border-color);
}

button {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.item_center {
    text-align: center;
}