
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
    width: 50%;
    border: 1px solid #ccc;
}

input {
    margin-top: 5px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.item_center {
    text-align: center;
}